### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Gradle
.gradle/
build/
!src/main/resources/
!src/test/resources/

# Log files
*.log

# IDE
.idea/
*.iml
*.ipr
*.iws

# Operating System files
.DS_Store
Thumbs.db